
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-responsive {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin first-letter-uppercase {
  &::first-letter {
    text-transform: uppercase;
  }
}