@use "../sass/mixins.scss";

.container {
  @include mixins.flex-center;
  gap: 40px;

  form {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 5px 5px 20px rgba(172, 172, 172, 0.541);
    background: rgba(255, 255, 255, 0.91);

    svg {
      margin-top: 3px;
      font-size: 18px;
      color: rgb(69, 69, 69);
    }
  }

  .units {
    @include mixins.flex-center;
    color: white;

    span {
      font-size: 20px;
      margin: 0 5px 3px 5px;
      font-weight: bold;
    }
  }
}