@use "./mixins.scss";
@import "./variables.scss";

.container {
  display: flex;
  justify-content: center;
  color: white;

  .goBack {
    position: absolute;
    top: 32px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
  }

  .listContainer {
    @include mixins.flex-responsive;
    margin: 10px 0;
    gap: 12px;

    .listItem {
      width: 130px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      padding: 15px 10px 15px 0;
      text-decoration: none;
      border: 1px solid white;
      color: white;
      box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.262);
      transition: transform .1s linear, box-shadow .1s ease;

      &.active {
        cursor: auto;

        &:hover {
          transform: none;
        }
      }

      &:hover {
        box-shadow: 
          inset 0 0 40px rgba(255, 255, 255, 0.377),  
          5px 5px 20px rgba(255, 255, 255, 0.284); 
        transform: scale(1.03);
      }

      & > span,
      & > div {
        margin-left: 10px;
      }

      & > span:last-child {
        @include mixins.text-ellipsis;
        @include mixins.first-letter-uppercase;
      }

      .temps {
        margin-bottom: 5px;

        span {
          &:first-child {
            font-size: 23px;
            margin-right: 5px;
          }
          &:last-child {
            font-size: 15px;
            color: $colorSilver;
          }
        }
      }
    }
  }
}