@use "./mixins.scss";
@import "./variables.scss";

.container {
  @include mixins.flex-center;
  flex-direction: column;
  color: white;
  margin: 20px 0;
  
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
    @include mixins.first-letter-uppercase;
  }

  p {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .tempAndIcon {
    display: flex;
    align-items: center;

    span {
      font-size: 55px;
    }
  }

  .sunAndTempDetails {
    @include mixins.flex-responsive;
    margin-top: 15px;

    .detailsItem {
      display: flex;
      align-items: center;
      font-size: 15px;

      .title {
        color: $colorSilver;
      }

      .wall {
        margin: 0 10px;
      }

      svg {
        margin-right: 5px;
      }
    }
  }
}